<!--
  Implementation for front page display for user who is logged in.
  Display includes:
    - ability to filter an article's text and highlight
      only "new information"
    - ability to add single new article to the list of "read" articles
      via a URL
    - ability to add multiple new articles to the list of "read" articles
      via a .txt file of the following format:
  
      1 http://www.article.com
      2 http://www.article1.com
      3 http://www.article2.com
      4 http://www.article3.com
      ... 
-->
<div id="indexLoggedInContainer">
  <div id="indexLoggedInBGContainer" class="background">
  </div>
  <div id="indexLoggedInContentContainer">
    <div id="indexFormContainer" class="container">
      <!-- Form Tabs -->
      <div class="row">
        <div class="col-sm-12" style="padding: 0px;">
          <ul id="urlFormTabs" class="nav nav-tabs">
            <li class="active urlFormTab"><a id="urlFormTabLink1" data-toggle="tab" href="#textURLTab">Text</a></li>
            <li class="urlFormTab"><a id="urlFormTabLink2" data-toggle="tab" href="#fileURLTab">File</a></li>
          </ul>
        </div>
      </div>
      <!-- Form content division -->
      <div class="tab-content">
        <!-- Form for Text URL -->
        <form id="textURLTab" class="form-horizontal tab-pane fade in active" method="post" action="action">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="formType" value="text" type="hidden">
          <!-- Text URL Input -->
          <div class="row">
            <div id="indexFormURLContainer" class="form-group col-sm-12">
              <input class="form-control" placeholder="Enter article url" type="text" name="url" id="url">
            </div>
          </div>
          <!-- Text URL Form Buttons -->
          <div class="row">
            <div id="indexFormBtnGroup1" class="form-group col-sm-6">
              <input class="btn btn-info indexFormBtn" type="submit" name="read" value="Read">
              <input class="btn btn-success indexFormBtn" type="submit" name="add" value="Add">
              <!-- Clear History Button -->
              <%= link_to 'Clear History', '/clear', id: "clearHistoryButton1", class: 'btn btn-warning' %>
            </div>
          </div> 
        </form>

        <!-- Form For File URL -->
        <form id="fileURLTab" class="form-horizontal tab-pane fade" method="post" action="action" enctype="multipart/form-data">
          <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
          <input name="formType" value="file" type="hidden">
          <!-- File Input -->
          <div class="row">
            <div id="indexFormURLContainer" class="form-group col-sm-12">
              <label id="indexFileButton" class="btn btn-default btn-file">
                Browse <input type="file" style="display: none;">
              </label>
            </div>
          </div>
          <!-- File URL buttons -->
          <div class="row">
            <div id="indexFormBtnGroup2" class="form-group col-sm-6 indexFormBtnGroup">
              <input class="btn btn-success indexFormBtn" type="submit" name="add" value="Add">
              <%= link_to 'Clear History', '/clear', id: "clearHistoryButton2", class: 'btn btn-warning' %>
            </div>
          </div> 
        </form>
      </div>
    </div>
    <% if @result == "added" %>
      <div id="articleAddedContainer" class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 id="articleAddedText">Article successfully added!</h1>
          </div>
        </div>
      </div>
    <% elsif @result == "error" %>
      <div id="articleAddedContainer" class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h1 id="articleAddedText">The requested article could not be parsed.</h1>
          </div>
        </div>
      </div>
    <% end %> 
    <% if @article %>
      <%= render "index_article" %>
    <% end %>
  </div>
  <% if @added %>
    <p> Article successfully added <p>
  <% end %>
</div>
